@model RentalKendaraan.Models.Peminjaman

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Peminjaman</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TglPeminjaman)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TglPeminjaman)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdKedndaaraan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdKedndaaraan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdJaminan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdJaminan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Biaya)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Biaya)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCustomerNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCustomerNavigation.IdJaminan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPeminjaman1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPeminjaman1.IdKendaraan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPeminjamanNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPeminjamanNavigation.IdCustomer)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPeminjaman">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
